.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.input {
  flex: 1;
  padding: 10px;
  font: var(--text-s);
  border: 1px solid var(--color-neutral);
  border-radius: 5px;
  outline: none;
}

.input:focus {
  outline: 1px solid var(--color-tertiary);
}

.label {
  font: var(--text-s);
  white-space: nowrap;
}
